/* [project]/app/index.module.scss.module.css [app-client] (css) */
.index-module-scss-module__PqtzVG__header {
  z-index: 50;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0 40px;
  display: flex;
  position: fixed;
}

.index-module-scss-module__PqtzVG__header .index-module-scss-module__PqtzVG__logo {
  font-size: 20px;
}

.index-module-scss-module__PqtzVG__header .index-module-scss-module__PqtzVG__login {
  font-size: 25px;
  position: fixed;
  top: 13px;
  right: 200px;
}

.index-module-scss-module__PqtzVG__header nav {
  margin-left: auto;
}

.index-module-scss-module__PqtzVG__header li {
  margin-right: 15px;
  display: inline-block;
}

.index-module-scss-module__PqtzVG__header li:nth-child(6) {
  color: #fff;
  background-color: #222323;
  width: 90px;
  margin-right: 0;
  padding: 5px 10px;
}

.index-module-scss-module__PqtzVG__header {
  position: initial;
}

.index-module-scss-module__PqtzVG__header nav {
  display: none;
}

.index-module-scss-module__PqtzVG__humburger {
  color: #fff;
  cursor: pointer;
  background-color: #222324;
  padding: 10px 5px 0;
  display: none;
  position: fixed;
  top: 13px;
  left: 130px;
}

.index-module-scss-module__PqtzVG__humburger span {
  background-color: #fff;
  width: 30px;
  height: 1px;
  margin-bottom: 7px;
  display: block;
}

.index-module-scss-module__PqtzVG__humburger span:first-child {
  width: 20px;
  margin-left: 10px;
}

.index-module-scss-module__PqtzVG__humburger p {
  margin-top: -4px;
  margin-bottom: 5px;
  font-size: 13px;
}

.index-module-scss-module__PqtzVG__drawerMenu {
  color: #fff;
  opacity: 0;
  z-index: -100;
  background-color: #222324;
  width: 0;
  height: 0;
  transition: all .5s;
}

.index-module-scss-module__PqtzVG__drawerMenu.index-module-scss-module__PqtzVG__open {
  opacity: 1;
  z-index: 100;
  width: 180px;
  height: 100vh;
  position: fixed;
}

.index-module-scss-module__PqtzVG__header {
  padding: 0 200px;
}

.index-module-scss-module__PqtzVG__header .index-module-scss-module__PqtzVG__logo {
  margin-top: 25px;
}

.index-module-scss-module__PqtzVG__container {
  margin: 0 0 0 auto;
}

.index-module-scss-module__PqtzVG__container .index-module-scss-module__PqtzVG__humburger {
  display: block;
}

.index-module-scss-module__PqtzVG__drawerMenu {
  width: 180px;
  position: fixed;
  top: 0;
}

.index-module-scss-module__PqtzVG__drawerMenu ul {
  width: 90%;
  margin: 0 auto;
}

.index-module-scss-module__PqtzVG__drawerMenu ul li {
  opacity: .8;
  margin-bottom: 25px;
  font-family: Josefin Sans, sans-serif;
  font-weight: 200;
}

.index-module-scss-module__PqtzVG__mobileLogo {
  width: 250px;
  height: 80px;
  display: inline-block;
  position: absolute;
  top: 0;
}

.index-module-scss-module__PqtzVG__mainTitle {
  letter-spacing: 2px;
  margin-bottom: 5px;
  font-size: 28px;
}

.index-module-scss-module__PqtzVG__subTitle {
  font-size: 15px;
}

.index-module-scss-module__PqtzVG__close {
  cursor: pointer;
  margin-top: 28px;
  padding-right: 5px;
}

.index-module-scss-module__PqtzVG__close span {
  background-color: #fff;
  width: 30px;
  height: 1px;
  margin: 0 0 10px auto;
  display: block;
}

.index-module-scss-module__PqtzVG__close span:first-child {
  transform: translateY(6px)rotate(150deg);
}

.index-module-scss-module__PqtzVG__close span:nth-child(2) {
  margin-bottom: 0;
  transform: translateY(-6px)rotate(-150deg);
}

.index-module-scss-module__PqtzVG__close p {
  text-align: right;
  padding-right: 1px;
  font-size: 11px;
}


/*# sourceMappingURL=app_index_module_scss_module_8cd1115a.css.map*/