.main {
  display: block;
  text-align: center;
  margin-left: 280px;
  max-width: 1200px;
  padding-top: 15px;

  .container {
    .Cards {
      display: flex;
      gap: 20px;
      overflow: hidden; // 追加: はみ出た部分を隠す
    }
    .newArticleCards {
      flex: 1;
    }
  }
  .mainBox {
    display: flex;
    gap: 20px;
  }
  .rightBar {
    width: 400px;
    flex-shrink: 0;
  }
}
